{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Description of the page less than 150 characters"> <!-- To DO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "blog/css/bootstrap.min.css" %} ">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto+Mono" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <div id="blog-body" class="row">
        <!-- Left side Menu -->
        <div class="col-md-5 col-lg-4 col-xl-3 left-menu">
            <div id="aside-menu">
                <h1 id="blog-author">Vitor Filardi</h1>
                <nav id="left-navbar" role="navigation">                       
                    <ul id="menu-list" class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home </a></li>
                        {% for category in categories %}
                            {% if category.slug == 'curriculum' %}
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'posts_list' slug=category.slug %}">{{category.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'curriculum' %}">Curriculum</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                        <img id="github-icon" src="{% static "blog/icon/mark-github.svg" %}" alt="ícone do Github" style="height: 1.5em; width: 1.5em;">
                        </a></li>
                    </ul>                    
                </nav>                                          
                <p id="copyright">&copy; 2018 </p>
            </div>
        </div>  <!-- end Left side Menu -->

        <div class="col-md-7 col-lg-8 col-xl-9">
            {% block content %}{% endblock  %}
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static "blog/js/bootstrap.min.js" %}"></script>
  </body>
</html>