{% extends "blog/base.html" %}

{% block title %}English Posts{% endblock %}

{% block content %}
<section id="posts">
    <div class="content">
        <h1 class="page-titles">English Posts</h1>
        
        {% if en_posts %}
            <ul class="post-list">
            {% for post in en_posts %}     
                <li>
                    <a href="{% url 'post' slug=post.slug %}">
                        {{ post.title }}
                        <small>{{ post.date_posted|date:"d N Y " }}</small>
                    </a>
                    
                </li>
            {% endfor %}
            </ul>
        {% else%}
            <div class="alert alert-info" role="alert">
                Still no publications in this language :).
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}