{% extends "blog/base.html" %}

{% block title %}Vitor Filardi's Blog{% endblock %}

{% block content %}
<section id="posts">
    <div class="content">
        <h1 class="page-titles">Últimos Posts</h1>
        {% for post in post_list %}        
        <article>
            <header>
                <h2 class="post-titles">
                    <a href="{% url 'post' slug=post.slug %}">{{ post.title }}</a>
                </h2>
                <h3 class="post-date">{{ post.date_posted|date:"d N Y " }}</h3>
            </header>
            <p class="text-justify">
                {{ post.text|truncatewords:30 }}
            </p>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
              