<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Description of the page less than 150 characters"> <!-- To DO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto+Mono" rel="stylesheet">

    <title>Vitor Filardi's Blog</title>
  </head>
  <body>

    <div id="blog-body" class="row">
        <!-- Left side Menu -->
        <div class="col-md-5 col-lg-4 col-xl-3">
            <div id="aside-menu">
                <h1 id="blog-author">Vitor Filardi</h1>
                <nav id="left-navbar" role="navigation">                       
                    <ul id="menu-list" class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" href="#">Home </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Cheat sheets!</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Curriculum</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                        <img id="github-icon" src="icon/mark-github.svg" alt="ícone do Github" style="height: 1.5em; width: 1.5em;">
                        </a></li>
                    </ul>                    
                </nav>                                          
                <p id="copyright">&copy; 2018 </p>
            </div>
        </div>  <!-- end Left side Menu -->

        <div class="col-md-7 col-lg-8 col-xl-9">
            <!-- Block context goes here -->
            <section id="posts">
                <div class="content">
                    <h1 class="page-titles">Últimos Posts</h1>
                    <article>
                        <header>
                            <h2 class="post-titles">Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus.</h2>
                            <h3 class="post-date">05 Jan 2018</h3>
                        </header>
                        <p class="text-justify">
                            Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.
                            Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit.

                            Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus.

                            Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt.

                            Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.

                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                        </p>
                    </article>
                </div>
            </section>
        </div>
        <!-- Block context ends here -->
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>