{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock  %}

{% block content %}
<article class="content">
    <header class="post-header">
        <h2 class="post-titles">
            {{ post.title }}
        </h2>
        <span class="post-date">{{ post.date_posted|date:"d N Y " }}</span>
    </header>
    {% autoescape off %}
        {{ post.text }}
    {% endautoescape %}

    {% if post.tag %}     
    <div class="post-tags">
        {% for tag in post.tag.all  %}
        <a class="tag-link" href="#">
            <span>{% include 'svg/tag.html' %}</span> 
            <span>{{ tag.title }}</span>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    
   
</article>
{% endblock %}

{% comment "Optional note" %}
    https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#built-in-filter-reference
{% endcomment %}